@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

body {
  display: flex;
  font-family: "Gabarito", sans-serif;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}

button {
  font-family: "Gabarito", sans-serif;
  font-size: 20px;
  height: 50px;
}

header {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #34344a;
  color: #dbf9b8;
}

nav {
  display: flex;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dbf9b8;
  height: 80vh;
  width: 100%;
}

#overlay {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #34344a;
  color: #dbf9b8;
  border: 10px solid #dbf9b8;
  width: 80%;
  max-width: 500px;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  line-height: 1.3;
}

/* #overlay:hover {
  transition-duration: 300ms;
  background-color: #34344a;
} */

#overlay p {
  text-align: center;
  margin: 10px;
  font-size: 30px;
}

#overlay p:nth-child(3) {
  color: #99d9eb;
}

#overlay button {
  margin-top: 20px;
  background-color: #dbf9b8;
  color: #34344a;
  border: transparent solid 1px;
  box-shadow: 4px 4px white;
  width: 150px;
}

#overlay button:hover {
  box-shadow: 2px 2px white;
  transition-duration: 300ms;
}

#gameBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  /* align-items: flex-start;
  justify-content: center; */
  width: 80%;
  max-width: 800px;
  height: 65vh;
  background-color: #f2f8f4;
  flex-wrap: wrap;
  margin: 20px;
}

#userBox {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: red solid 3px; */
  max-height: max-content;
}

#userChoice {
  height: 50px;
  width: 100px;
  margin: 0px 5px;
}

#selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

select {
  font-size: larger;
  padding: 5px;
  font-family: "Gabarito", sans-serif;
  background-color: #99d9eb;
  color: white;
  border: #6cb1c4 2px solid;
}

#playButton {
  width: 80px;
  margin: 10px;
  background-color: #99d9eb;
  color: white;
  border: #6cb1c4 2px solid;
}

#compBox {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: red solid 3px; */
}

.imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: #dbf9b8 solid 8px;
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.choiceResult {
  font-size: 25px;
  margin: 15px auto;
}

#userImg {
  transform: rotate(90deg);
  animation: user-tilt-shaking 1s infinite;
}
@keyframes user-tilt-shaking {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(91deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(89deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

#compImg {
  transform: rotate(270deg);
  animation: comp-tilt-shaking 1s infinite;
}
@keyframes comp-tilt-shaking {
  0% {
    transform: rotate(270deg);
  }
  25% {
    transform: rotate(269deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(271deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

#shootButton {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: 40px auto;
  width: 160px;
  height: 60px;
  background-color: #efd647;
  color: white;
  font-size: 30px;
  border: #d4be3f 4px solid;
}

#roundResult {
  display: flex;
  height: max-content;
  font-size: 50px;
  margin: 0px 10px 20px 10px;
  padding: 20px;
  background-color: #f2f8f4;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #34344a;
  color: #dbf9b8;
  /* border: solid green 3px; */
}
